version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: medchain_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
      - ./backend/uploads:/app/uploads
    environment:
      - PORT=8000
      - BASE_URL=http://backend:8000
    networks:
      - mednet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: medchain_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - mednet

networks:
  mednet:
    driver: bridge
